.taskHolder{
  display:flex;
  justify-content: space-evenly;
  gap:10px;
}
button{
  background-color: #2e2e93;
  color:white;
  border: 1px solid #2e2e93;
  padding:10px
}
.taskCreateForm{
  display:flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.taskUpdateForm{
  display:flex;
  flex-direction: column;
  padding: 5px;
}
.taskUpdateForm input, .taskCreateForm select{
padding: 10px;
}




